*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-logo{
    width: 200px;
}

#icon{
    font-size: 2.5rem;
    color: red;
} 

#bg{
    background-color: #0f0f0f;  
}
/* .img-logo{
    width: 125%;
} */

/* @media(max-widht:800px){
    #icon{
        display: block;
    }
} */